#h6_1{
    color: #1714dc;
}
/* #span_1{
    font-size: larger;
} */
ul>li{
    display: inline-block;
    font-size: 20px;
    padding:15px ;
}
#desert{
    margin-top: 50px;
    margin-bottom: 50px;
}
#h2_1{
    font-family: fantasy;
}
.recipes{
    height: 250px;
    width: 300px;
}
.strong-1{
    color: #4169E1;
}
.rated{
    height: 100px;
    width: 100px;
}
#top{
    margin-top: 25px;
}
